



























Graduation requirements | Start








  Skip to main content










Graduation requirements



 









Here you can read about what you have to have done in order to be able to graduate! 

In order to graduate:

you must have acquired the minimum number of ECTS credits stipulated for your degree
your thesis must have been approved and uploaded to Theseus
you must have passed the required amount of practical training
you must possess the required language skills
you must have acquired the other key learning outcomes stipulated for your degree

You have to apply for your degree certificate within the time of their study right. Preferably, you should apply at least one week before the study right ends. This gives you a possibility to apply for extended right to study in case the application for the degree certificate is rejected.
This means:

if your study right ends on December 31st, you have to apply for your degree certificate by December 31st at the latest
if your study right ends on July 31st you have to apply for your degree certificate by July 31st at the latest

If your study right ends before you can apply for a degree certificate, you have to apply for extended right to study. If your application is approved, you can apply for your degree certificate when your studies are completed and all credits are registered in the student register.
When submitting the application for the degree certificate, you approve all the study attainments shown on your transcript of records (grade, examination date etc.). When the application has been submitted no changes can be requested (e.g. grade of the thesis or of a course). 
Contact E-mail: studentaffairs@arcada.fi if you have problems with applying for your degree certificate.



























