



























Degree requirements | Start








  Skip to main content










Degree requirements



 








Here you find the degree requirements listed according to academic year.





Degree requirements 2018-19 

In the list below you find the degree requirements in force during the academic year 2018-19. These requirements apply if you started your studies during the year in question.






Degree Requirements 2019-20 

In the list below you find the degree requirements in force during the academic year 2019-20. The requirements are listed according to department and both requirements in Swedish and English are included in the same document.





























