



























Degree requirements 2018-19 | Start








  Skip to main content










Degree requirements 2018-19



 








In the list below you find the degree requirements in force during the academic year 2018-19. These requirements apply if you started your studies during the year in question.



 
Degree requirements for bachelor's degree in business administration with awarded qualification Bachelor of Business Administration, Tradenom YH (210 ECTS)



 
Degree requirements for Master's degree in Culture and Arts (Media Management) with awarded qualification Master of Culture and Arts (60 ECTS)



 
Degree requirements for Master's degree in Real Estate Energy (60 ECTS)



 
Degree requirements for bachelor's degree in social services and health care with awarded qualification Bachelor of Health Care (210 ECTS)



 
Degree requirements for Master's degree in the Joint Master’s Degree in Global Health Care with awarded qualification Master of Health Care (90 ECTS)



 
Examination receivable for higher education within Mental health





























