


























Degree requirements | Start








  Skip to main content










Degree requirements 



 









Here you can find the degree requirements for Materials Processing Technology. 

The education in materials processing technology includes modern polymer technology and processing, and focuses on functional materials, sustainable development and design. In laboratory exercises, students in practice learn the whole process from material selection and product design, and further to production of polymer based products. Several extension study modules provide good opportunities for tailoring education according to own interests.
You who started your studies in 2018 follow the degree requirements 2018-19 (in pdf-file below), while you who started your studies in 2019 or 2020 follow the degree requirements 2019-20 (link below).



 
Education in Materials Processing Technology (in English) for the degree in Bachelor of Engineering (240 cr)







Degree Requirements 2019-20 

In the list below you find the degree requirements in force during the academic year 2019-20. The requirements are listed according to department and both requirements in Swedish and English are included in the same document.





























