



























Degree Requirements 2019-20 | Start








  Skip to main content










Degree Requirements 2019-20



 








In the list below you find the degree requirements in force during the academic year 2019-20. The requirements are listed according to department and both requirements in Swedish and English are included in the same document. These requirements apply to you if you started you studies during the academic year in question.



 
Degree requirements 2019-20  Department of Business Management and Analytics



 
Degree requirements 2019-20  Department of Energy and Materials Technology



 
Degree requirements 2019-20  Department of Health and Welfare



 
Degree requirements 2019-20  Department of Culture and Media



 
Degree requirements 2019-20  Department of Healthcare





























